.container {
    height: 30vh;
}

.rootFlex {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
}

.flexContainer {
    flex: 1;
}

.input {
    width: 85vw;
    border-width: 1px;
    border-color: #AAAAAA;
    padding: 10px 5px;
    border-radius: 5px;
}

.checkbox {
    width: 5vw;
    height: 5vw;
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.tncText {
    text-align: start;
    overflow-wrap: break-word;
}

.checkContainer {
    display: flex;
    width: 20vw;
    align-items: center;
    justify-content: center;
}

.submitButton {
    margin-top: 10vh;
    background-color: #2E63FD;
    padding: 1.5vh 10vh;
    color: #FFFFFF;
    border-radius: 500px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;

}

.submitButton:disabled {
    background-color: #AAAAAA;
}
